.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dashboard h1 {
  color: #282c34;
}

.dashboard button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #17252A;
  color: #EDF5e1;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.dashboard button:hover {
  background-color: #53575e;
}

.dashboard a {
  font-size: 1.2rem;
  color: #EDF5e1;
  text-decoration: none;
}